<a href="https://colab.research.google.com/github/saitejasamala15/TEJA-/blob/main/bankcust.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
!apt-get install sqlite3
!pip install pandas

In [ ]:
import sqlite3
import pandas as pd
import os

In [ ]:
conn = sqlite3.connect("my_database.db")

In [ ]:
# Define the correct path for the database
db_path = "/content/drive/MyDrive/my_database.db"

In [ ]:
db_folder = "/content/drive/MyDrive/SQLiteDB"
os.makedirs(db_folder, exist_ok=True)  # Ensure the folder exists
db_path = os.path.join(db_folder, "my_database.db")

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

print("Database connected at:", db_path)

customer table

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMERR ( customer_id INT ,
             	customer_name VARCHAR(20),
             	Address 	VARCHAR(20),
             	state_code  VARCHAR(3) ,
             	Telephone   VARCHAR(10)	);

''')
conn.commit()

In [ ]:
def insert_BANK_CUSTOMERR (customer_id,customer_name,Address,state_code,Telephone):
    cursor.execute("INSERT INTO BANK_CUSTOMER (customer_id,customer_name,Address,state_code,Telephone) VALUES (?,?, ?, ?,?)", (customer_id,customer_name,Address,state_code,Telephone))
    conn.commit()

# Insertion
insert_BANK_CUSTOMERR(123001,"Oliver", "225-5,Emeryville", "CA" , "1897614500")
insert_BANK_CUSTOMERR(123002,"George", "194-6,New brighton","MN" , "1897617000")
#insert_BANK_CUSTOMER(123003,"Harry", "2909-5,walnut creek","CA" , "1897617866")
#$insert_BANK_CUSTOMER(123004,"Jack", "229-5, Concord",  	"CA" , "1897627999")
#insert_BANK_CUSTOMER(123005,"Jacob", "325-7, Mission Dist","SFO", "1897637000")
#nsert_BANK_CUSTOMER(123006,"Noah", "275-9, saint-paul" ,  "MN" , "1897613200")
#insert_BANK_CUSTOMER(123007,"Charlie","125-1,Richfield",   "MN" , "1897617666")
insert_BANK_CUSTOMERR(123008,"Robin","3005-1,Heathrow", 	"NY" , "1897614000")

In [ ]:
pip install tabulate

In [ ]:
from tabulate import tabulate


# Fetch data
cursor.execute("SELECT * FROM BANK_CUSTOMER ")
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

1.Print customer Id, customer name and average account_balance maintained by each customer for all of his/her accounts in the bank.(8 Rows)

In [ ]:
# SQL query to get customer_id, customer_name, and average balance amount
query = """
SELECT
    c.customer_id,
    c.customer_name,
    AVG(a.balance_amount) AS avg_balance
FROM BANK_CUSTOMER c
LEFT JOIN BANK_Account_Details a ON c.customer_id = a.customer_id
GROUP BY c.customer_id, c.customer_name
LIMIT 8;  -- Show only 8 rows
"""

# Execute the query
cursor.execute(query)

# Fetch column names
columns = [desc[0] for desc in cursor.description]

# Fetch all results
results = cursor.fetchall()

# Print table headers
print("{:<12} {:<20} {:<15}".format(*columns))
print("-" * 50)

# Print each row in a properly formatted way
for row in results:
    print("{:<12} {:<20} {:<15.2f}".format(*row))  # Format avg_balance to 2 decimal places